body{
    background-color: blue;
}

#Life{
    position: absolute;
    top: 160px;
    left: 40px;
}

#Food{
    position: absolute;
top: 246px;
right: 68px;
}


#Drink{
    position: absolute;
    top: 157px;
    right: 70px;
}

#Contentment{
    position: absolute;
    top: 257px;
    left: 44px;
}

#Attack{
    position: absolute;
    top: 204px;
    left: 676px
}

section{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100vw;
}

#image1{
    position: absolute;
    top: 495px;
    left: 825px;
}